/* ESTILO DEL HEADER GLOBAL (Barra de Navegación) */
.main-header {
  position: fixed; /* Fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background); /* Fondo blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  z-index: 1000;
  padding: 0 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Alinear los elementos a la derecha */
  align-items: center;
  height: 70px; /* Altura de la barra */
}

.nav-list li {
  margin-left: 30px;
  font-size: 1.1em;
  text-transform: uppercase;
}